header {
    background-color: #e30613;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffc20e;
    text-decoration: none;
    font-size: 18px;
    background-color: black;
    border-radius: 10px;
    padding: 15px;
    transition: 0.25s;
}

nav ul li a:hover {
    color: black;
}
/* --- Section des joueurs --- */
.players {
    text-align: center;
    padding: 50px 20px;
}

.players h1 {
    font-size: 36px;
    color: #e30613;
    margin-bottom: 30px;
    text-transform: uppercase;
}



footer {
    background-color: #050505; 
    text-align: center;
    padding: 20px 10px;
    color: #800000; 
    font-size: 14px;
    position: relative;
}
 
  
.photo {
    width: 60px;
    height: 60px;
    border-radius: 30%;
    margin-top: -60px;
    margin-right: -90%;   
  }


.soc {
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin-bottom: 10px;
}

.so {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, opacity 0.3s ease; 
}

.so:hover {
    transform: scale(1.2); 
    opacity: 0.8; 
}
/* Section des matchs*/
.matches {
    text-align: center;
    padding: 50px 20px;
    background-size:cover ; 
    background-position:inherit;
}

.matches h1 {
    font-size: 36px;
    color: #e30613;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.ms {
    margin-bottom: 50px;
}

.ms h2 {
    font-size: 28px;
    color: #0a0a0a;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #e30613;
    display: inline-block;
    padding-bottom: 5px;
}

.mc {
    background: linear-gradient(to right, white , black);
    border: 1px solid #e30613;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.mc p {
    margin: 10px 0;
    font-size: 16px;
    color: #0b0c18af;
}

.mc strong {
    color: #e30613;
    font-weight: bold;
}

/* Classement du championnat*/
.ct {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #333;
}

.ct th,
.ct td {
    border: 1px solid #e30613;
    padding: 10px;
    background: linear-gradient(to right, #e30613, #fdd835);
}

.ct th {
    background: linear-gradient(to right, #e30613, #fdd835);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}



/* Statistiques de l'équipe  */
.sg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.ss {
    
    border: 2px solid #e30613;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
    background-color: #0f0505;
}

.ss h3 {
    font-size: 18px;
    color: #e30613;
    margin-bottom: 10px;
}

.ss p {
    font-size: 24px;
    font-weight: bold;
    color: #ffd900;
}
