
header {
    background-color: #e30613;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffc20e;
    text-decoration: none;
    font-size: 18px;
    background-color: black;
    border-radius: 10px;
    padding: 15px;
    transition: 0.25s;
}

nav ul li a:hover {
    color: black;
    transform: scale(1.5);

}


.home {
    text-align: center;
    padding: 50px;
    background-color: #ffc20e;
    color: #e30613;
}

.home h1 {
    font-size: 36px;
    margin: 20px 0;
}

.home p {
    font-size: 20px;
}

.logo {
    width: 200px;
    height: auto;
    margin-bottom: 50px;
    border-radius: 30px;
    border: solid  rgb(203, 18, 5);
}

.team {
    width: 100%;
    max-width: 900px;
   
    height: auto;
    margin-top: 20px;
    border: 5px solid #e30613;
}



footer {
    background-color: #050505; 
    text-align: center;
    padding: 20px 10px;
    color: #800000; 
    font-size: 14px;
    position: relative;
}
 
  
.photo {
    width: 60px;
    height: 60px;
    border-radius: 30%;
    margin-top: -60px;
    margin-right: -90%;   
  }


.soc {
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin-bottom: 10px;
}

.so {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, opacity 0.3s ease; 
}

.so:hover {
    transform: scale(1.2); 
    opacity: 0.8; 
}